.Review {
    height: 50vh;
    width: 100%;
    margin-bottom: 5%;
}

.Review-header {
    height: 20%;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #212529;
}

.Review-container {
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.left-arrow {
    height: 100%;
    width: 5%;
    display: flex;
    align-items: center;
}

.main-reviewholder {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.right-arrow {
    height: 100%;
    width: 5%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.reviewCard {
    height: 200px;
    width: 400px;
    background-color: #FFA75F;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding-inline: 10px;

}

.reviewCard-image {
    height: 90%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reviewCard-image img {
    height: 70%;
    width: 70%;
    border-radius: 8px;
}

.reviewCard-reviews {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.reviewCard-reviews h4 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color:  #212529;
}

.reviewCard-reviews p {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

@media (min-width: 200px) and (max-width: 767px) {

    /* CSS styles for mobile devices */

    .Review {
        height: 50vh;
        width: 100%;
    }

    .Review-container {
        height: 90%;
        width: 100%;
        display: flex;
    }

    .Review-header h1{
        font-size: 20px;
    }

    .main-reviewholder {
        display: flex;
        flex-direction: column;
    }

    .right-arrow {
        height: 5%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left-arrow {
        height: 5%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .reviewCard {
        height: 100px;
        width: 180px;

    }

    .reviewCard-reviews h4 {
        font-size: 12px;
    }

    .reviewCard-reviews p {
        font-size: 8px;
    }

   
}

/* For devices with a width between 768px and 991px (e.g., tablets in portrait mode) */
@media (min-width: 768px) and (max-width: 991px) {

    /* CSS styles for tablets */
    .reviewCard {
        height: 120px;
        width: 230px;
    }

    .Review-header {
        height: 20%;
        width: 100%;
        /* text-align: center;
        font-size: 24px;
        color: #212529; */
    }

    .reviewCard-reviews h4 {
        font-size: 14px;
    }

    .Review-header h1 {
        font-size: 32px;
    }

    .Review {
        height: 50vh;
        width: 100%;
    }

}

/* For devices with a width between 768px and 991px (e.g., tablets in portrait mode) */
@media (min-width: 991px) and (max-width: 1300px) {

    /* CSS styles for tablets */
    .reviewCard {
        height: 180px;
        width: 330px;
    }


    .reviewCard-reviews h4 {
        font-size: 14px;
    }

    .Review-header h1 {
        font-size: 32px;
    }

    .Review {
        height: 50vh;
        width: 100%;
    }

}