.Header {
  height: 10vh;
  width: 100%;
  background: #fffefdf2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Helvetica, Arial, sans-serif;
  position: fixed;
  top: 0%;
  bottom: 0%;
  z-index: 10000;
}

.user-info{
font-size: 12px;
display: flex;
align-items: center;
justify-content: center;
width: 20%;
text-shadow: 1px 15px 3px rgba(253, 251, 251, 0.27);
color: #991c15;
/* background-color: #991c15; */

}
.grid {
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: space-between;
  cursor: context-menu;
}

.logo {
  height: 100%;
  width: 30%;
  display: flex;
  align-items: center;
}

.logo img {
  height: 100%;
  width: 40%;
  cursor: pointer;
  flex-shrink: 0;
  object-fit: inherit;

}

.Navmenu {
  height: 100%;
  width: 45%;
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: 15px;
  cursor: pointer;
  align-items: center;
}

.Navmenu li {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 15px;
  /* color: #76787b; */
}

.Navmenu li:hover {
  color: #fc8019;
  font-weight: 500;
}

.Navmenu p:hover {
  color: #fc8019;
  font-weight: 500;
}

.Navsign {
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.custom-link {
  color: inherit;
  text-decoration: none; 
}


.Navsign p:hover {
  color: #f7f6f4;
  font-weight: 400;
}



.cartlenght {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  position: absolute;
  background-color: #f8a866;
  left: 10px;
  top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}

.ImCancelCircle{
color: #d62e0d;
/* background-color: #fcfaf8; */
}

.HiMenuAlt2 {
  width: 30%;
  display: flex;
  justify-content: center;
  display: none;
}

.dropMenu li {
  padding-block: 30px;
}

.showmenu {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(132, 123, 112, 0.555);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;

}


.caCircle {
  width: 100%;
  height: 5%;
  display: flex;
  justify-content: end;
  cursor: pointer;
  align-items: center;
  margin: 15px 0px 0px 0px;

}

.custom-link {
  color: inherit;
  text-decoration: none;
}

.active {
  color: #fc8019;
}



.dropMenu {
  width: 100%;
  height: 20%;
  list-style-type: none;
}

.gridmenu {
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.58);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.3);


}

.dropMenu li {
  width: 90%;
  height: 25%;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 20px;
  padding-left: 15px;
  border-radius: 8px;

}

.dropMenu li:hover {
  color: #f8a866;
  background-color: #fff;
}

@media (max-width: 767px) {

  /* CSS styles for mobile devices */
   .logo {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .logo img{
display: none;
    
  }
  .HiMenuAlt2 {
    display: block;
  }

  .Navmenu {
    display: none;
  }

  .showmenu {
    display: block;
    display: flex;

  }

  .cartlenght {
    position: absolute;
    left: 6px;
    top: 15px;
  }

  .dropMenu{
    height: 50%;
   }

  .dropMenu li{
     height: 10%;
    width: 100%;
  } 

  .cartlenght {
    position: absolute;
    left: 7px;
    top: 20px;
  }

  .user-info{
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    color: #991c15;
    }
}

/* For devices with a width between 768px and 991px (e.g., tablets in portrait mode) */
@media (min-width: 768px) and (max-width: 991px) {

  /* CSS styles for tablets */
  .HiMenuAlt2 {
    display: block;
    align-items: center;
    transform: scale(123456);
    transition: all 250ms ease-in;
  } 

  .Navmenu {
   display: none; 
     align-items: center;
  }
 
  .logo {
    display: flex;
    align-items: center;
  } 

  .logo img{
    display: none;
  }

  .showmenu {
    display: block;
    display: flex; 
    /* align-items: center; */
    /* justify-content: center; */
  }

   .cartlenght {
    position: absolute;
    left: 6px;
    top: 20px;
  } 

  }

@media (min-width: 991px) and (max-width: 1368px) {
  /* CSS styles for small screen laptop */
 .Navmenu li {
    font-size: 12px;
  } 

  .cartlenght {
    position: absolute;
    left: 10px;
    top: 17px;
  }
}