*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Bigdash{
    width: 100%;
    height: 92vh;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.bigdashwrap{
    width: 90%;
    height: 95%;
    /* background-color: yellow; */
    display: flex;
    justify-content: space-around;
}

.dropdown{
    width: 20%;
    height: 100%;
    background-color: blue;
}

.HomeLogo{
    width: 100%;
    height: 30%;
    background-color: black;
}




.textarea{
    width: 78%;
    height: 100%;
    background-color: red;
}
