.partnerdiv{
height: max-content;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.signup-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
  }
  
  h2 {
    text-align: center;
  }
  
  .rest-button {
    height: 42px;
    width: 180px;
    /* padding: 17px; */
    background-color: #f88120;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .rest-button:hover {
    background-color: #f6b076;
  }

  .patner-password{
    display: block;
    height: 13px;
    color: rgb(29, 24, 24);
    font-size: 12px;
    text-align: right;
    cursor: pointer;
    padding-top: 5px;
  }

  .patner-loginrouter{
    display:block;
    height: 40px;
    width: 100%;
    /* background-color: #ffd501; */
    display: flex;
    align-items:flex-end;
    justify-content: center;
    cursor: pointer;
    gap: 5px;
     }

     a{
      text-decoration: none;
      color: #f88120;
     }
.login-containerholder{
  height: 92vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
  .login-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  .error-message {
    color: red;
    margin-top: 10px;
  }
  
  .Rest-form {
    display: flex;
    flex-direction: column;
    margin-block-start: 20px;
    gap: 10px;
    align-items: center;

  }
  
  .rest-inputholder input {
    width: 90%;
    padding: 10px;
    border: none;
    outline: none;
   }

  .rest-inputholder{
    height: 38px;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    gap: 10px;
    align-items: center;
    padding-inline: 5px;
  }

  @media (min-width: 768px) and (max-width: 991px) {

  
  }
  @media (min-width: 320px) and (max-width: 565px) {
    .signup-container {
      width: 350px;
        }
  
  }
  

  
  