.menu {
  height: max-content;
  width: 100%;
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  align-items: center;
}



    
.loader {
  border: 6px solid #f3f3f3;
  border-top: 6px solid #FD8D14;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.arrowback {
  width: 100%;
  height: 7vh;
  background-color: #ffe2b8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  position: fixed;
  top: 0;
  z-index: 100;
}

.arr {
  width: 95%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  padding: 15px;
  color: inherit;
  text-decoration: none;
}


.arrowleft {
  font-size: 25px;
  color: black;
}

.arr:hover {
  color: #fc8019;
}

.arrowleft:hover {
  color: #fc8019;
}

.menulist-lord {
  width: 100%;
  height: max-content;
  display: flex;
  /* justify-content: center; */
  /* background-color: red; */
  margin-top: 2.7%;
}

.menulist-lordholder {
  width: 95%;
  height: 100%;
}

.restuarant-lord {
  height: 45vh;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}


.restuarant-lord img {
  height: 100%;
  width: 50%;
  border-radius: 2px;
}

.restuarant-lordname {
  height: 20vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.restuarant-lordname1 {
  text-align: center;
  /* background-color: #f99810; */
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.restuarant-lordname h1 {
  font-size: 24px;
  color: #212529;
}

.restuarant-lordname h4 {
  font-size: 12px;
  color: #76787B;
  white-space: break-spaces;
}

.rightermid {
  display: flex;
  /* background-color: #979592; */
  width: 100%;
  height: 50%;
  justify-content: center;
  gap: 10px;
  align-items: center;
  /* margin-top: 10px; */
  cursor: pointer;
}

.delivery {
  display: flex;
  justify-content: center;
  height: 40px;
  width: 100px;
  background-color: #f99810;
  border-radius: 3px;
  color: white;
  align-items: center;
  transition: color 0.3s, transform 0.2s ease-in-out;
}

.delivery:hover {
  color: #f0e6d7;
  transform: scale(1.04);
}

.pickup {
  height: 40px;
  width: 100px;
  border: 1px solid#f99810;
  border-radius: 3px;
  color: #cb8952;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pickup:hover {
  color: #f99810;
  transform: scale(1.04);
}


.active {
  color: #fc8019;
}

.active2 {
  color: inherit;
}


.timesection {
  height: 7vh;
  width: 100%;
  /* background-color: antiquewhite; */
  display: flex;
  align-items: center;
  padding-left: 55px;

}

.foodcategory {
  height: 5vh;
  width: 100%;
  color: #212529;
  /* background-color: rgb(247, 151, 26); */
  display: flex;
  /* align-items: center; */
  padding-left: 55px;
  font-size: 18px;
  gap: 50px;
  color: inherit;
  text-decoration: none;


}

.foodcard {
  width: 360px;
  height: 200px;
  display: flex;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  cursor: pointer;
  /* background-color: green; */
}

.leftcard {
  width: 50%;
  height: 100%;
  border-radius: 5px 0px 0px 5px;
  display: flex;
  flex-direction: column;
  /* background-color: yellow; */
  justify-content: space-between;
  align-items: center;


}

.Cardnamed {
  width: 100%;
  height: 40%;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.Cardnamed p {
  font-size: 14px;
}

.Cardnamedb {
  font-size: 30px;
  font-weight: 900;
  /* color: #fc8019; */
}

.pri {
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  /* flex-direction: column; */
}

.added {
  font-size: 20px;
  color: #f99810;
  transition: color 0.3s, transform 0.2s;

}

.added:hover {
  color: #f0e6d7;
  transform: scale(1.1);
}

.addedBtn {
  width: 70px;
  height: 30px;
  border-radius: 4px;
  background-color: white;
  color: #f99810;
  font-size: 10px;
  border: 2px solid #f99810;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.addedBtn:hover {
  background-color: #f99810;
  color: white;
  border-color: white;
}


.rightcard {
  width: 50%;
  height: 100%;
  border-radius: 0px 5px 5px 0px;
  padding: 5px;
}

.rightcard img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.downmenusection {
  height: max-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  margin-block: 5px;

}


/* For devices with a width between 768px and 991px (e.g., tablets in portrait mode) */
@media (min-width: 768px) and (max-width: 991px) {
  .restuarant-lord img {
    height: 100%;
    width: 90%;
    border-radius: 8px;
  }

  .downmenusection {
    gap: 40px;
  }

  .delivery {
    height: 50px;
    width: 100px;
  }

  .pickup {
    height: 50px;
    width: 100px;
  }

  .foodcard {
    width: 340px;
    height: 190px;
  }

  .restuarant-lordname {
    height: 30vh;
    width: 100%;
  }

}

@media (max-width: 767px) {
  /* CSS styles for mobile devices */

  .restuarant-lord {
    height: 35vh;
    width: 100%;
    margin-bottom: 15px;
  }

  .restuarant-lord img {
    height: 100%;
    width: 90%;
    border-radius: 8px;
  }


  .downmenusection {
    gap: 15px;
  }

  .restuarant-lordname {
    height: 20vh;
    width: 100%;
     }

     .Cardnamed p{
      font-size: 14px;
    }
    
    .Cardnamed h2{
      font-size: 18px;
    }
        
.loader {
   padding-block: 20px;
  border: 6px solid #f3f3f3;
  border-top: 6px solid #FD8D14;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.menulist-lord {
  display: flex;
  justify-content: center;
}

}