.menu {
  height: max-content;
  width: 100%;
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrowback {
  width: 100%;
  height: 7%;
  background-color: #ffe2b8;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  position: fixed;
  top: 0;
} 

.arr {
  width: 95%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: black;
  font-size: 16px;
  padding-block: 10px;
  color: inherit;
  text-decoration: none
}

.arrowleft {
  font-size: 25px;
  color: black;
}

.menulist-lord {
  width: 100%;
  height: max-content;
  /* background-color: #06b01d; */
  display: flex;
  justify-content: center;
}

.menulist-lordholder {
  width: 95%;
  height: 100%;
  /* background-color: #7b8e7e; */
}

.restuarant-lord {
  height: 50vh;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}


.restuarant-lord img {
  height: 100%;
  width: 50%;
  border-radius: 8px;
}

.restuarant-lordname {
  height: 20vh;
  width: 100%;
  /* background-color: #1ce53a; */
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.restuarant-lordname1 {
  text-align: center;
  /* background-color: #f99810; */
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.restuarant-lordname h1 {
  font-size: 24px;
  color: #212529;
}

.restuarant-lordname h4 {
  font-size: 18px;
  color: #76787B;
}

.rightermid {
  display: flex;
  /* background-color: #979592; */
  width: 100%;
  height: 50%;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.delivery {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 140px;
  background-color: #f99810;
  border-radius: 8px;
  color: white;
  align-items: center;
}

.pickup {
  height: 50px;
  width: 140px;
  border: 2px solid#f99810;
  border-radius: 8px;
  color: #f99810;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timesection {
  height: 7vh;
  width: 100%;
  /* background-color: antiquewhite; */
  display: flex;
  align-items: center;
}

.foodcategory {
  height: 5vh;
  width: 100%;
  /* background-color: rgb(247, 151, 26); */
  display: flex;
  align-items: center;
  font-size: 18px;
  gap: 30px;
}

.foodcard {
  width: 380px;
  height: 190px;
  display: flex;
  /* border: 1px solid black; */
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: white;
  cursor: pointer;
  margin-block: 10px;
}

.leftcard {
  width: 50%;
  height: 100%;
  border-radius: 5px 0px 0px 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.leftcard h2 {
  font-size: 20px;
}

.leftcard h4 {
  font-size: 16px;
  font-weight: 100;
}

.pri {
  margin-top: 20%;
  font-size: 16px;
}

.rightcard {
  width: 50%;
  height: 100%;
  border-radius: 0px 5px 5px 0px;
  padding: 5px;
}

.rightcard img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}

.downmenusection {
  height: max-content;
  width: 100%;
  /* background-color: aquamarine; */
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  /* justify-content: space-between; */
  margin-block: 5px;
}


/* For devices with a width between 768px and 991px (e.g., tablets in portrait mode) */
@media (min-width: 768px) and (max-width: 991px) {
  .restuarant-lord img {
    height: 100%;
    width: 90%;
    border-radius: 8px;
  }

  .downmenusection {
    gap: 40px;
  }

  .foodcard {
    width: 340px;
    height: 190px;
  }

}

@media (max-width: 767px) {
  /* CSS styles for mobile devices */

  .restuarant-lord {
    height: 35vh;
    width: 100%;
    margin-bottom: 15px;
  }

  .restuarant-lord img {
    height: 100%;
    width: 90%;
    border-radius: 8px;
  }

  .restuarant-lordname {
    height: 30vh;
    width: 100%;
  
  }

  .downmenusection {
    gap: 5px;
  }

}