.popup {
  width: 100%;
  height: 100vh;
  background-color: rgba(238, 230, 207, 0.999);
   backdrop-filter: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popwrap {
  width: 50%;
  height: 70%;
  /* background-color: rgb(218, 10, 10); */
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.popimage {
  width: 50%;
  height: 100%;
}

.popimage img {
  width: 100%;
  height: 100%;
  /* background-size: contain; */
}

.poptext {
  width: 50%;
  height: 100%;
  background-color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;

}

.poptextup {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
}

.deleteBtn {
  width: 100%;
  height: 20%;
  color: red;
  display: flex;
  justify-content: right;
}

.deleteBtn p {
  font-size: 24px;
  font-family: monospace;
  transform: scale(1);
  transition: all 250ms ease-in;
  cursor: pointer;
}

.deleteBtn p:hover {
  transform: scale(1.1);
  color: red;
}

.detail-text{
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  /* gap: 14px; */
  color: black;
  justify-content: space-around;
    /* background-color: #fb7609; */
}

.detail-text h3 {
  font-size: 24px;
}

.detail-text p {
  font-size: 16px;
}

.detail-text h5 {
  font-size: 16px;
}


.popupBtn {
  width: 100%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  /* background-color: aqua; */
  /* margin-top: 15%; */
}

.Addtocart {
  width: 150px;
  height: 40px;
  border: 1px solid black;
  font-size: 18px;
  font-family: monospace;
  font-weight: 700;
  text-align: center;
  background-color: white;
  color: black;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Viewcart {
  width: 200px;
  height: 40px;
  font-size: 18px;
  font-family: monospace;
  font-weight: 700;
  text-align: center;
  background-color: #fb7609;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}

.Bigdiv {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.head {
  width: 100%;
  height: 7vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffefd8;
  /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
  /* border-bottom: 1px solid rgb(234, 232, 232); */
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.headwrap {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Logodiv {
  width: 80%;
  height: 100%;

}

.Logodiv img {
  width: 10%;
  height: 100%;
  border-radius: 3px;
  /* background-color: #fb7609; */
}

.signindiv {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.cartround {
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-color: #FFA75F;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carthead {
  color: white;
  font-size: 16px;
}



@media (max-width: 767px) {
  /* CSS styles for mobile devices */
  .popwrap {
    width: 90%;
    height: 95%;
    /* background-color: rgb(218, 10, 10); */
    display: flex;
    flex-direction: column;
  }

  .popimage {
    width: 100%;
    height: 50%;
  }

  .Logodiv img {
    width: 15%;
    border: none;

  }

  .poptext {
    width: 100%;
    height: 50%;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .Viewcart {

    margin-top: 20px;
  }

}

/* For devices with a width between 768px and 991px (e.g., tablets in portrait mode) */
@media (min-width: 768px) and (max-width: 991px) {

  .popwrap {
    width: 80%;
    height: 65%;
    /* background-color: rgb(218, 10, 10); */
    display: flex;
      }
  
  }
