.home {
  height: max-content;
  width: 100%;
  /* background-color: white; */
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
  /* background-color: red; */
}

.home-wrapper {
  height: max-content;
  width: 90%;
  /* background-color: #ffdf8f; */
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.firstview {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  /* background-color: green; */
}

.Trusted-by{
  height: 3vh;
  width: 100%;
  font-size: 24px;
   color: orange;
}

.search {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* background-color: green; */
}

.bacckima {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  margin-top: 9%;
  /* background-color: red; */
}

.bacckima img {
  height: 100%;
  width: 100%;
}

.slogan {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  /* background-color: red; */
}

.slogan h4 {
  color: #fc8019;
  font-size: 52px;
  font-weight: 900;
}

.slogan h4 span {
  color: #292d32;
}

.slogan p {
  font-size: 32px;
  color: #76787b;
}

.search-restaurant {
  height: 30%;
  width: 100%;
  display: flex;
  gap: 10px;
  align-items: center;
}

.select-restaurant {
  display: flex;
  width: 372px;
  height: 60px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 120px;
  border-radius: 5px;
  border: 1px solid #fc8019;
  background: #fff;
}

.VscArrowCircleLeft{
  cursor: pointer;
}

option {
  padding: 10px;
}

.select-restaurant select {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  padding: 0 10px;
}

.select-restaurant select option {
  background-color: rgb(247, 243, 243);
}

.Restuarantlisting1 {
  height: 100vh;
  width: 100%;
  background-color: rgba(247, 243, 243, 0.579);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;
}

.Restuarantlistingll-wrapper {
  width: 80%;
  height: 90%;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.58);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;

}


.rap {
  width: 100%;
  height: 100%;
  /* background-color: rgb(58, 21, 191); */
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.Restuarantlisting-holder {
  width: 100%;
  height: 80%;
  border-radius: 5px;
  display: flex;
  overflow-x: auto;
  justify-content: space-around;
  }

.Restuarantlisting-holder::-webkit-scrollbar {
  
  display: none;

}

/* home.css */

.partner-section {
  text-align: center;
}

.Trusted-by {
  font-size: 18px;
  opacity: 1;
  transition: opacity 0.5s ease;
  margin-bottom: 10px; /* Add some spacing below the Trusted by text */
}

.restaurant-list {
  font-size: 16px;
  opacity: 1;
  transition: opacity 0.5s ease;
  margin-top: 10px; /* Add spacing above the restaurant list */
}


.Restuarantlisting-header {
  width: 100%;
  height: 15%;
  /* background-color: rgb(25, 26, 25); */
  display: flex;
  justify-content: space-between;
  padding-inline: 40px;
  align-items: center; 
}


.Restuarantlisting-header h4{
    font-size: 28px;
  color: #292d32;
  
} 

.Restaurant{
  color: inherit;
text-decoration: none;
}

.Restaurant-name1 h4{
color: #fc8019;
font-size: 18px;
text-align: center;
padding-bottom: 5px;
padding-top: 10px;

}

.Restaurant-name1 p{
  color: #232323;
  font-size: 14px;

  text-align: center;
  }

.select-search {
  height: 3.9rem;
  width: 15rem;
  background-color: #fc8019;
  border: none;
  font-size: 17px;
  border-radius: 5px;
  color: #fff;
}

@media (max-width: 767px) {
  /* CSS styles for mobile devices */
  .firstview {
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 25px;
  }

  .slogan {
    height:30%;
    width: 100%;
    padding-bottom: 10px;
    

  }

  .slogan h4 {
    color: #fc8019;
    font-size: 28px;
  }

  .slogan p {
    font-size: 20px;
  }

 
  .search {
    width: 100%;
    height: 50%;
   display: flex;
   /* align-items: center;
   justify-content: center; */
  }
  .bacckima {
    width: 100%;
    height: 50%;
  }

  .bacckima img {
    height: 100%;
    width: 100%;
  }
  .select-restaurant {
    height: 3rem;
    width: 12rem;
  }

 
  .select-search {
    height: 3rem;
    width: 8rem;
    font-size: 12px;
  }
  .Restuarantlistingll-wrapper {
    width: 97%;
    height: 90%;

  }

  .Restuarantlisting-header h4{
    width: 100%;
    height: 10%;
     font-size: 16px;
    color: #292d32;
  }

  .Restuarantlisting-holder {
    /* background-color: #fc8019; */
    display: flex;
    justify-content: space-between;
    gap: 20px;
    }

  .Trusted-by{
    font-size: 14px;
    margin-top: 5px;
  }

}

/* For devices with a width between 768px and 991px (e.g., tablets in portrait mode) */
@media (min-width: 768px) and (max-width: 991px) {
  .firstview {
    height: 50vh;
    width: 100%;
    display: flex;
    margin-top: 50px;

  }

  .select-restaurant {
    height: 4rem;
    width: 10rem;
    margin-top: 20px;

  }

  .select-search {
    height: 4rem;
    width: 10rem;
    font-size: 12px;
    margin-top: 20px;

  }

  .slogan h4 {
    color: #fc8019;
    font-size: 24px;
  }

  .slogan p {
    font-size: 12px;
  }

  p {
    font-size: 12px;
    padding-top: 20px;
  }

  .search {
    height: 100%;
    width: 50%;
    display: flex;
    justify-self: end;
    flex-direction: column;
  }

  .bacckima {
    width: 50%;
    height: 100%;
  }

  .bacckima img{
    width: 95%;
    height: 100%;
    /* background-color: #fc8019; */
  }

  .Restuarantlistingll-wrapper {
    width: 85%;
    height: 75%;
  }


}
