* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  /* background-color: red; */
}

.emptymain {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.emptymainwrapper {
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.emptycartimage {
  width: 40%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circleempty {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-color: rgb(244, 240, 240);
  display: flex;
  color: orange;
  justify-content: center;
  align-items: center;
  /* border: 1px solid gray; */
}

.emptycarticon {
  font-size: 76px;
}

.emptycarttext {
  height: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.emptyBtn {
  width: 200px;
  height: 40px;
  font-size: 18px;
  font-family: sans-serif;
  font-weight: 700;
  text-align: center;
  background-color: #fc8019;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  border: none;
}
@media (max-width: 767px) {
  .Cart-wrapper {
      height: 98%;
      width: 90%;
      }

      .Cart-itemHeader {
          font-size: 8px;
      }
      .finallyo-header {
          padding-left: 1px;
          font-size: 8px;
      }

      .paynow {
          font-size: 13px;
      }

      .blur{

          font: size 12px; ;

      }

      .rewardshow {
         display: block;
         align-items: center;
          padding-block: 10px;
         }

      .toataprice {
          height: 60%;
          width: 25%;
         border: 1px solid rgb(185, 181, 189);  
         display: block;
         align-items: center;
         padding-block: 10px;}
              
     

      .Cart-itemHoldereach {
          height: 27%;
          width: 100%;      
      }

}

/* For devices with a width between 768px and 991px (e.g., tablets in portrait mode) */
@media (min-width: 768px) and (max-width: 991px) {
  .Cart-wrapper {
      height: 85%;
      width: 92%;
      }

      .finallyo-header {
          padding-left: 70px;
          font-size: 8px;
      }

       .paynow {
          font-size: 13px;
      }

      .blur{

          font: size 12px; ;

      }
      .Cart-itemHoldereach {
          height: 25%;
          width: 100%;      
      }
   
}

