.Restaurant {
    height: 410px;
    width: 27%;
    background-color: rgb(255, 254, 253);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    background: #FFF;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 40px;
    flex: 0 0 auto ;
    transform: scale(1);
    transition: all 250ms ease-in;
}


.Restaurant:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1);
    
}

.Restaurant-wrapper {
    height: 90%;
    width: 90%;
    border-radius: 20px;
    
    }

.Restaurant-image {
    height: 60%;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Restaurant-image img {
    height: 100%;
    width: 100%;
}

.Restaurant-name {
    height: 20%;
    width: 100%;
    text-align: center;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    justify-content: space-between;
}

.Restaurant-name h4 {
    font-size: 24px;
    color: #FC8019;
    padding-block: 15px;
}

.Restaurant-name p{
    padding-block: 15px;
}

.Restaurant-btn {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
}

.Restaurant-btn button {
    height: 3rem;
    width: 173px;
    border: none;
    background-color: #FC8019;
    color: #fff;
    border-radius: 8px;
}

@media (max-width: 767px) {

    /* CSS styles for mobile devices */
    .Restaurant {
        height: 500px;
        width: 90%;
        margin-left: 15px;
    }

    .Restaurant-name h4 {
        font-size: 24px;
        /* color: aqua; */
        padding-block: 15px;
    }

    .Restaurant-name p {
        font-size: 20px;
        /* color: aqua; */
        padding-block: 15px;
    }
}

/* For devices with a width between 768px and 991px (e.g., tablets in portrait mode) */
@media (min-width: 768px) and (max-width: 991px) {

    /* CSS styles for tablets */
    .Restaurant {
        height: 500px;
        width: 4%;
    }

    .Restaurant-name h4 {
        font-size: 20px;
    }

    .Restaurant {
        height: 410px;
        width: 45%;
        
    }

}